:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}


body {
    background: url(../images/bg-desktop.svg) no-repeat;
    background-color: var(--violet);
    background-size: cover;
    max-width: 100%;
    font-family: "Poppins";
    color: #ffffff;
}

header .logo{
    margin: 30px 50px;
    max-width: 100%;
}

main {
    display: flex;
    margin: 0 100px 0 35px;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    max-width: 100%;
}

main img{
    max-width: 100%;
}

.infos {
    margin-left: 30px;
}

.infos .titulo{
    text-transform: capitalize;
}

.infos .descricao {
    font-weight: 300;
    margin: 20px 0 40px;
}

.infos .btn-registro{
    background-color: #ffffff;
    color: var(--violet);
    padding: 15px 60px;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    
}

.infos .btn-registro:hover{
    background-color: var(--soft-magenta);
    color: #ffffff;
}

footer{
    display: flex;
    justify-content: right;
}

footer .redes {
    margin-right: 100px;
    margin-bottom: 50px;
}

footer .redes .icone-rede {
    border: 1px solid #ffffff;
    padding: 12px 20px;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
}